.MainLabel{
  font-size: 20px;
  font-weight: bold;
  font-size: 50px;
  margin-left: 520px;
  margin-top: 300px;
  margin-bottom: 50px;
  text-decoration:overline 2px rgb(92, 91, 91);
 text-align: center;
 
 font-family:serif;
}

#name{
  justify-content: center;
  border:solid 2px rgb(92, 91, 91);
  padding: 10px 70px 10px 70px;
  font-size: 15px;
  background: rgb(238, 232, 232);
  margin-left: 350px;
  margin-top: 20px;
}
#Email{
  justify-content: center;
  border:solid 2px rgb(92, 91, 91);
  padding: 10px 70px 10px 70px;
  font-size: 15px;
  background: rgb(238, 232, 232);
  margin-left: 2px;
  margin-top: 20px;
}

#message{
  justify-content: center;
  border:solid 2px rgb(92, 91, 91);
  padding: 50px 222px 50px 235px;
  font-size: 15px;
  background: rgb(238, 232, 232);
  margin-left:350px;
  margin-top: 5px;

}
#check{
  margin-left:350px;
  margin-top: 5px;
  color: black;
}
#check2{
  margin-left:5px;
  margin-top: 5px;
  color: black;
}
.Inabel{
  margin-top:5px;
  font-size: 20px;
  color: rgb(92, 91, 91);
  font-family:'Times New Roman', Times, serif;
}

.SendBtn{
  border:solid 2px  rgb(121, 121, 121);
  background:  rgb(92, 91, 91);
  font-family:'Times New Roman', Times, serif;
  margin-left:350px;
  margin-top: 5px;
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  color: white;
}
.ResetBtn{
  font-size: 15px;
  margin-left:1px;
  margin-top: 5px;
  padding: 10px 15px 10px 15px; 
  border:solid 2px rgb(92, 91, 91);
  font-family:'Times New Roman', Times, serif;
  background: white;

}

.commentBox{
  border: solid 2px; 
  background-color: aqua;
}